.common-create-bucket-container {
  max-width: 500px;
}

.common-create-bucket-container .common-create-bucket-header {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: bold;
  background: #fafafa;
  width: 100%;
}

.main-container-list-s3-table {
  width: 85%;
  margin-left: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

body {
  background: none !important;
}

.pl-1 {
  padding-left: 1em;
}

.pl-2 {
  padding-left: 2em;
}

.pl-3 {
  padding-left: 3em;
}

input:focus-within {
  outline: none;
}