:root {
  --main-header-bg: #232f3e;
  --second-header-bg: #131921;
  --main-border: #ff9000;
  --main-border-shadow: #febd69;
  --main-text: #f3a847;
  --second-text: white;
  --main-search-opt: #cdcdcd;
  --second-search-opt: #f3f3f3;
  --border-radius: 0.2rem;
  background: #d5dbdb;
  --root-color: #d5dbdb;
}

.root-bg {
  background: var(--root-color);
}

.padding-10 {
  padding: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.text-sm {
  font-size: 12px;
}
